@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

html{
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: white;
    margin-left: 160px;
    
}

h1:hover{
    font-size:33px;
}

h2:hover{
    font-size:25px;
}

h3:hover{
    font-size:19px;
}

p:hover{
    font-size: 17px;
    line-height: 300%;
    font-weight: bolder;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
}

img:hover{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:20.25%;
}



.sidenav {
  height: 150%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
}


.sidenav a {
  float:left;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
  padding: 6px 8px 6px 16px;

}

.sidenav a:hover { 
  transform: 1s;
  background-color: #b7b7a4;
  text-transform: uppercase;
}

div {
    width: 354px;
    float: left;
    padding: 10px 0;
    color:black
}

.bottomText{
    position:fixed;
    text-align: left;
    bottom: 0px;
    left: 0;
    width: 160px;
    color: black;
    padding: 10px 10px;
    font-size:smaller;
}

a:first-child div {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:last-child div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.contact{
    text-align: right;
    padding-left: 400px;
    padding-top: 50px;
}


/* timeline */

* {
    box-sizing:  border-box;
}


.timeline{
    position: relative;
    max-width: 1200px;
    margin:0 auto;
}

.timeline::after{
    content: "";
    position:absolute;
    width:6px;
    background-color:black;
    top:0;
    bottom:0;
    left:50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
.left {
    left: 0;
  }
  
/* Place the container to the right */
.right {
    left: 50%;
  }
  
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  

  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  

  
/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
  }
  

  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    

/* Full-width containers */
.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }



/* Make sure that all arrows are pointing leftwards */
.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }



/* Make sure all circles are at the same spot */
.left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
.right {
    left: 0%;
  }

}



