@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

*{
  font-family: 'Be Vietnam Pro', sans-serif;
  padding:0;
  box-sizing: border-box;
  
}

body{
  min-height: 0vh;
    background-color: white;
    display: flex;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.sidenav {
  height: 150%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
}


.sidenav a {
  float:left;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
  padding: 6px 8px 6px 16px;

}

.sidenav a:hover { 
  transform: 1s;
  background-color: #b7b7a4;
  text-transform: uppercase;
}      


.sidenav div {
width: 354px;
float: left;
padding: 10px 0;
color:black
}


.bottomText{
position:fixed;
text-align: left;
bottom: 0px;
left: 0;
width: 160px;
color: black;
padding: 10px 10px;
font-size:smaller;
}

.timeline{
width:85%;
position: relative;

}

.content{
background: #efebe9;
padding: 20px;
border-radius: 5px;
position: relative;
}

.content h2{
text-transform: uppercase;
}
.content h2:hover{
font-size: 155%;
}

.content a{
color: black;
background: white;
text-decoration: none;
padding: 10px 25px;
display: inline-block;
}
.content a:hover{
transform: 1s;
background-color: #b7b7a4;
text-transform: uppercase;
}




